@use 'variables' as v;
@use 'mixins';
.gallery{

    &-images{
        height: 300px;
        width: 100%;
        background-image: url(../images/image-product-1.jpg);
        background-size: cover;
        background-position-y: -35px;
        &:hover{
            cursor:pointer;
        }
    }
    &-previous{
        @include mixins.img-btn(130px,15px, false);
    }
    &-next{
        @include mixins.img-btn(130px,320px, false);
    }
    &-other{
        display: none;
        @media (min-width: 1115px) {
            display: flex;
            justify-content: space-between;
        }
    }
    &-thumbnail{
        width: 90px;
        border-radius: 16px;
        &:hover{
            cursor: pointer;
            border:2px solid v.$Orange;
        }
    }
    @media(min-width:1115px){
        width: 445px;
        &-images{
            border-radius: 16px;
            height: 446px;
            margin-bottom: 32px;
            background-position-y: 0;
        }
    }
}